# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pkl

# Virtual environment
.venv/
env/
venv/

# Hugging Face cache
~/.cache/huggingface/
*.h5
*.pt

# Model directories
saved_models/

# Logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Output folders
outputs/
